* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}

.App {
  width: 80%;
  margin: 0 auto;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-ingredient {
  display: flex;
  flex: 1;
  margin: 0 1em;
  height: 50px;
  align-items: center;
  justify-content: center;
}
